body{
    margin: 0;
    min-width: 250px;
    background-color:purple;

}
*{
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background-color: #eee;
    font-size: 22px;
    transition: 0.2s;

/*making unselective*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li:nth-child(odd){
    background-color:#f9f9f9;

}
ul li:hover{
    background-color: #726f6f;
    transition-duration: 1s;
    color: white;
}
/*when clicked add a bg color*/
ul li. :checked::before{
    content: '';
    position: absolute;;
    border-color: #fff;
    border-style: solid;
border-width: 0 2px 2px 0;
top: 10px;
left: 16px;
transform: rotate(45deg);
height: 15px;
width: 7px;
}

/*style close btn*/
.edit{
    position: absolute;
    right: 0;
    top: 0;
    color: red;
    font-weight: bolder;
    font-size: large;
    padding: 12px 16px 12px 16px;
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    color: red;
    font-weight: bolder;
    font-size: large;
    padding: 12px 16px 12px 16px;
}

.close:hover{
    color: black;
    background:red;
    font-size: 22px;
}
.header{
    background: purple;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 30px 40px;
}
.header:after{
    content: '';
    display: table;
    clear: both;

}
input{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 80%;
    padding: 10px;
    float: left;
    font-size: 18px;
}
.addbtn{
    padding: 10px;
cursor: pointer;
    background-color: rgb(6, 176, 6);
    color: white;
    font-size: 18px;
    float: left;
transition: 0.3s;
font-weight: bold;
    font-weight: bolder;
}
.addbtn:hover{
    background-color: gold;
    color: green;
}
