*{
  margin:0;
padding:0;
text-decoration:none;
box-sizing: border-box;
}
html{
scroll-behavior:smooth;

}
body{
font-family: sans-serif;
background-color:mediumvioletred;
background-size: cover;
background-position: center;
height: 109vh;
scroll-behavior:smooth;


}

sectionfive{
  font-variant: normal ;
}
marquee{

  width: 50PX;
  background-color:white;
}
N{
  width: 87%;
  color: yellow;
}

nav{
  position: fixed;

}
nav ul{
list-style: none;
float: right;

}
nav ul li{
  display: inline-block;
  line-height: 80px;

}
nav ul li a{
  color:black;
  font-size:larger;

  padding: 7px;

}
nav ul li  a:hover{
  background-color: white;

}

nav .logo{
  font-size:45px;
  color: gold;
  font-style: italic;
  font-weight: bold;
  line-height: 80px;


}
nav{
  width: 100%;
  height: 62px;
  background-color: blue;
}
nav o{
  font-size: medium;
  color: aliceblue;
  font-size: medium;
  float:right;
}
#mySidebar{
  background-color: black;
  position:fixed;
  width:50px;
  height: 250px;
}
#mySidebar li{
  list-style:none ;
  
}

a.active{
background-color:blue;
padding: 5px;
display: inline-block;
}

li a.contact{
border-bottom:1px solid rgba(0,0,0,.5) ;
}
nav li a.contact{
border-bottom: 1px solid rgba(255,255,255,.1);
}
#section {
  display: flex;
  padding:10%;
margin-down:5px;
  align-content: center;
height:100%;
width:100%;
  
}

z{
  font-style:italic;
  color:whitesmoke;
  font-size:20px;
  font-weight: bold;
}
K{
  font-style:italic;
  font-weight: bold;
  color: gold;
  background-color:black;
  font-size:16px;
}
sectionone{
  display: flex;
 background-image:img src=https://i.ibb.co/yfv3NCw/291889371-413306454154723-2830275642337202691-n.jpg;
width:100%;
align-content:center;   
height:100%;
}
p{
font-weight: bold;
font-size:30px;
color:gold;
}
h1{
padding: 25px 0 5px 0px;
color: black;
font-size:50px;
font:bold;
font-style: italic;
font-family:arial;
margin-right: 1px;

}
l{
font-size: 30px;
color:white;
font-weight: bold;
padding-left:20px;
text-align:centre;

}
li{
font-size: 25px;
color:greenyellow;
font-weight: bold;
text-align:centre;
  }
Form{
font-size:42px;
text-align:centre;
background-color:yellow;
}
h3{
background-color:black;
}
BR{
font-size:33px;
}
input{
font-size:32px;
box-size:32px;

}
radio button{
font-size:32px;
}
h2{
color:rgb(238, 230, 11);


}

search button{
font-size:40px;
}

a{
color:orange ;
font-size:30px;
font-family:arrial;
}
img{
align-items:center;
position:center;

}
table{
  font-size: larger;
}
href{
size:30px;

}

h4{
  font-size: small;
  color: gold;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th{
  background-color:black;
  font-style: italic;
  COLOR:RED;
}
sectionseven{
  color:black;
  width: 100%;
}
marquee{
  font-size:18px;
  width: 94%;
}
n{
  color:black
}
